<!DOCTYPE html>

  <head>

</head>

<body>
  
  <h1><center> Informations </h1></center> 
 
  <br> </br>
  

  
    
  
 <!--Pour voir les informations sur la filiere-->
 <p><a href=" {% url 'index_information_fil' %} "   class= "btn btn-primary">Tout savoir sur la filière </a></p>

 <!--Pour voir les informations sur le site-->
 <p><a href=" {% url 'index_information_site' %} "   class= "btn btn-primary">Tout savoir sur le site </a></p>






      <!--Pour Revenir à la page acceuil -->
<p><a href=" {% url 'index' %} "   class= "btn btn-primary">Page acceuil </a></p>