<!DOCTYPE html>

  <head>

</head>

<body>
  
  <h1><center> Bienvenue dans notre site de cours en ligne. </h1></center> 
 
  <br> </br>
  
  
    
  
   <!--Pour ouvrir le site des cours exo et corrections  de L1-->
   <p><a href=" {% url 'index_sujet_sel' %} "   class= "btn btn-primary">Sujets sélection </a></p>

   <!--Pour ouvrir le site des cours exo et corrections  de L2-->
   <p><a href=" {% url 'index_sujet_pres' %} "   class= "btn btn-primary">Sujets présélection </a></p>

   




<!--Pour Revenir à la page acceuil -->
<p><a href=" {% url 'index' %} "   class= "btn btn-primary">Page d'acceuil </a></p>




</body>
