


footer {
    
    border: 1px solid rgb(16, 1, 1);
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav {
    top: 87%;
    right: 70%;
    display: block;
}

footer h3 {

    top: 87%;
    left: 60%;
    display: inline-block;
}

footer h4 {

    top: 90%;
    left: 65%;
    display: inline-block;
}